body {
  background-color: rgb(80, 80, 80);
  margin: 0;
}

.game-title-div {
  text-align: center;
  color: white;
  margin: 0;
}

.game-title {
  margin: 0;
  font-family: "Garmond";
  font-size: 3rem;
}

/*
.game-div {
  width: 1300px;
  height: 900px;
  text-align: center;
  padding: 0px;
  border: 10px solid black;
}
*/

#game-canvas {
  display: block;
  background-color: rgb(150, 150, 150);
  margin: 0 auto;
}